<!DOCTYPE html>
  <head>
    <title>{% block title %}{% endblock %} | Web con Django </title>
    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
  {% comment "Optional note" %}
    <p>Commented out text with {{ create_date|date:"c" }}</p>
  {% endcomment %}
  <h1>Desarrollo web con Django!</h1>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Me</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'contact' %}">Contactame</a></li>
    </ul>

  {% block content %}{% endblock %}
  </body>
</html>
