{% extends 'core/base.html' %}
{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Desarrollo web con Python</h1>
    <span class="subheading">Software Development</span>
{% endblock %}
